<template>
  <publications from="home"></publications>
</template>

<script>
// @ is an alias to /src
import publications from "@/components/publications.vue";

export default {
  name: "HomeView",
  components: {
    publications,
  },
};
</script>
