<template>
  <section class="vh-100" style="background-color: #eee">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <button
                    class="btn btn-dark fa-lg mb-3 d-flex"
                    style="justify-content: center; align-items: center"
                  >
                    <router-link to="/">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="40"
                        height="40"
                        fill="currentColor"
                        class="bi bi-arrow-left"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                        />
                      </svg>
                    </router-link>
                  </button>
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                    Sign up
                  </p>

                  <form class="mx-1 mx-md-4">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="text"
                          class="form-control"
                          v-model="user.firstName"
                        />
                        <label class="form-label" for="form3Example1c"
                          >First Name</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="text"
                          class="form-control"
                          v-model="user.secondName"
                        />
                        <label class="form-label" for="form3Example1c"
                          >Second Name</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="text"
                          class="form-control"
                          v-model="user.firstLastName"
                        />
                        <label class="form-label" for="form3Example1c"
                          >First Last Name</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="text"
                          class="form-control"
                          v-model="user.secondLastName"
                        />
                        <label class="form-label" for="form3Example1c"
                          >Second Last Name</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="number"
                          class="form-control"
                          v-model="user.id"
                        />
                        <label class="form-label" for="form3Example1c"
                          >what is your cc, or unique id</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="date"
                          class="form-control"
                          v-model="user.bornDate"
                        />
                        <label class="form-label" for="form3Example1c"
                          >when did you born?</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="email"
                          class="form-control"
                          v-model="user.email"
                        />
                        <label class="form-label" for="form3Example1c"
                          >Email</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="password"
                          class="form-control"
                          v-model="user.password"
                        />
                        <label class="form-label" for="form3Example1c"
                          >password</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          v-model="user.inRelationship"
                        >
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                        </select>
                        <label class="form-label" for="form3Example1c"
                          >Are you single?</label
                        >
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input
                          type="textArea"
                          class="form-control"
                          v-model="user.aboutMe"
                        />
                        <label class="form-label" for="form3Example1c"
                          >About me</label
                        >
                      </div>
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form2Example3c"
                      />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in
                        <a>Terms of service</a>
                      </label>
                    </div>

                    <div
                      class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                    >
                      <button
                        class="btn btn-dark fa-lg mb-3"
                        type="button"
                        @click="register"
                      >
                        Register
                      </button>
                    </div>
                  </form>
                </div>
                <div
                  class="
                    col-md-10 col-lg-6 col-xl-7
                    d-flex
                    align-items-center
                    order-1 order-lg-2
                  "
                >
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid"
                    alt="Sample image"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import authService from "../services/auth.service";
import socialNetworkService from "../services/social-network";
export default {
  name: "registroComponent",
  components: {},
  data() {
    return {
      user: {
        firstName: "",
        secondName: "",
        firsLastName: "",
        secondLastName: "",
        id: "",
        bornDate: "",
        inRelationship: "",
        email: "",
        password: "",
        aboutMe: "",
      },
    };
  },
  methods: {
    register() {
      this.$store.commit("setIsLoading", true);

      authService
        .register(this.user.email, this.user.password)
        .then((response) => {
          //  const user = userCredential;
          console.log(response.user.uid);
          const json = {
            ...this.user,
            systemId: response.user.uid,
            profileImg:
              "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png",
          };

          socialNetworkService.searchPeople("all").then((data) => {
            data.push(json);
            socialNetworkService.newUser(data).then((response) => {
              console.log(response);
              this.$store.commit("setIsLoading", false);

              alert("¡Registrado!");
            });
          });
        })
        .catch((error) => {
          const errorCode = error.code;
          this.errorMessage = error.message;
          this.$store.commit("setIsLoading", false);

          alert(this.errorMessage);
          // ..
        });
    },
  },
};
</script>
<style scoped>
</style>