<template >
  <div
    class="card-columns d-flex"
    style="flex-wrap: wrap; justify-content: center"
    v-if="peopleFound.length > 0"
  >
    <div
      class="m-3 card container"
      v-for="(person, index) in peopleFound"
      :key="index"
      style="width: 25%; height: fit-content"
    >
      <div class="clickable" @click="goToProfile(person)">
        <img
          v-if="person.profileImg != ''"
          :src="person.profileImg"
          class="card-img-top"
        />
        <img
          v-if="person.profileImg == ''"
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          class="card-img-top"
        />
      </div>
      <div>
        <div class="text">
          <h5>
            {{
              person.firstName +
              " " +
              person.secondName +
              " " +
              person.firstLastName +
              " " +
              person.secondLastName
            }}
          </h5>
          <label>{{ person.email }}</label>
        </div>
      </div>
    </div>
  </div>

  <!--NOTHING FOUND MESSAGE-->
  <ng-template v-else>
    <div class="jumbotron jumbotron-fluid jumbo">
      <i class="fas fa-exclamation-triangle fa-pulse fa-7x"></i>
      <div class="container">
        <br />
        <h1 class="display-4">NOTHING TO SHOW</h1>
        <p class="lead">try searching another friend</p>
      </div>
    </div>
  </ng-template>
</template>
<script>
import socialNetworkService from "../services/social-network";

export default {
  name: "results",
  data() {
    return {
      peopleFound: [],
      nameSearched: "",
    };
  },
  methods: {
    searchPeople() {
      this.$store.commit("setIsLoading", true);

      this.peopleFound = [];

      socialNetworkService
        .searchPeople(this.nameSearched.toLowerCase())
        .then((response) => {
          this.peopleFound = response;
          this.$store.commit("setIsLoading", false);
        });
    },
    goToProfile(person) {
      var ruta = "/profile/" + person.systemId;
      this.$router.push(ruta);
    },
  },
  created() {
    this.nameSearched = this.$route.params.searched;
    this.searchPeople();
  },
  beforeRouteUpdate(to, from) {
    //when im calling again this route , and im already here, this can update de data with "to"
    //then i call the service again to refresh the data from the other person.
    this.nameSearched = to.params.searched;
    this.searchPeople();
  },
};
</script>
<style scoped>
.card :hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
</style>