<template>
  <div class="container h-100">
    <div>
      <div class="card">
        <div
          class="rounded-top text-white d-flex flex-row"
          style="background-color: #000; height: 200px"
        >
          <div
            class="uploadFileBtn"
            v-if="
              $store.getters.userInSession.systemId == userInformation.systemId
            "
          >
            <input
              type="file"
              accept=".png, .jpg,.jpeg"
              @change="cargarImagen($event)"
              id="inputFile"
            />

            <label for="inputFile" class="labelInputFile">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="35"
                height="35"
                fill="currentColor"
                class="bi bi-camera-fill"
                viewBox="0 0 16 16"
              >
                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                <path
                  d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"
                />
              </svg>
              <!-- <img src="https://icons-for-free.com/iconfiles/png/512/cloud+upload+file+storage+upload+icon-1320190558968694328.png"
                                alt="upload file"> -->
            </label>
          </div>

          <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
            <img
              v-if="userInformation.profileImg != ''"
              :src="userInformation.profileImg"
              alt="Generic placeholder image"
              class="img-fluid img-thumbnail mt-4 mb-2"
              style="width: 150px; z-index: 2"
            />
            <img
              v-if="userInformation.profileImg == ''"
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              class="card-img-top"
            />

            <button
              type="button"
              class="btn btn-outline-dark"
              data-mdb-ripple-color="dark"
              style="z-index: 1"
              data-bs-toggle="modal"
              data-bs-target="#editProfileModal"
              v-if="
                $store.getters.userInSession.systemId ==
                userInformation.systemId
              "
            >
              Edit profile
            </button>

            <div></div>
          </div>
          <div class="ms-3" style="margin-top: 130px">
            <h5>
              {{
                userInformation.firstName + " " + userInformation.firstLastName
              }}
            </h5>
          </div>
        </div>
        <div class="p-4 text-black" style="background-color: #f8f9fa">
          <div class="d-flex justify-content-end text-center py-1">
            <div>
              <p class="mb-1 h5">253</p>
              <p class="small text-muted mb-0">Photos</p>
            </div>
            <div class="px-3">
              <p class="mb-1 h5">1026</p>
              <p class="small text-muted mb-0">Followers</p>
            </div>
            <div>
              <p class="mb-1 h5">478</p>
              <p class="small text-muted mb-0">Following</p>
            </div>
          </div>
        </div>
        <div class="card-body p-4 text-black">
          <div class="mb-5">
            <p class="lead fw-normal mb-1">About</p>
            <div class="p-4" style="background-color: #f8f9fa">
              <p class="font-italic mb-1">
                {{
                  "My name is " +
                  userInformation.firstName +
                  " " +
                  userInformation.secondName +
                  " " +
                  userInformation.firstLastName +
                  " " +
                  userInformation.secondLastName
                }}
              </p>
              <p class="font-italic mb-1">
                {{
                  userInformation.inRelationship == "No"
                    ? "in a relationship"
                    : "single"
                }}
              </p>
              <p class="font-italic mb-1">{{ userInformation.bornDate }}</p>
              <p class="font-italic mb-0">{{ userInformation.aboutMe }}</p>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <p class="lead fw-normal mb-0">Recent photos</p>
            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
          </div>

          <publications
            from="profile"
            :idUser="userInformation.systemId"
          ></publications>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="editProfileModal"
    tabindex="-1"
    aria-labelledby="editProfileModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileModalLabel">Edit profile</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form class="mx-1 mx-md-4">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input
                  type="text"
                  class="form-control"
                  v-model="userInformation.firstName"
                />
                <label class="form-label" for="form3Example1c"
                  >First Name</label
                >
              </div>

              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input
                  type="text"
                  class="form-control"
                  v-model="userInformation.secondName"
                />
                <label class="form-label" for="form3Example1c"
                  >Second Name</label
                >
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input
                  type="text"
                  class="form-control"
                  v-model="userInformation.firstLastName"
                />
                <label class="form-label" for="form3Example1c"
                  >First Last Name</label
                >
              </div>

              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input
                  type="text"
                  class="form-control"
                  v-model="userInformation.secondLastName"
                />
                <label class="form-label" for="form3Example1c"
                  >Second Last Name</label
                >
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input
                  type="date"
                  class="form-control"
                  v-model="userInformation.bornDate"
                />
                <label class="form-label" for="form3Example1c"
                  >when did you born?</label
                >
              </div>

              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  v-model="userInformation.inRelationship"
                >
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
                <label class="form-label" for="form3Example1c"
                  >Are you single?</label
                >
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input
                  type="textArea"
                  class="form-control"
                  v-model="userInformation.aboutMe"
                />
                <label class="form-label" for="form3Example1c">About me</label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-dark" @click="saveChanges">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import publications from "@/components/publications.vue";
import snService from "../services/social-network";
import { getDownloadURL } from "firebase/storage";

export default {
  name: "profile",
  components: { publications },
  data() {
    return {
      userInformation: {},
    };
  },
  methods: {
    cargarImagen(event) {},
    loadUser(id) {
      this.$store.commit("setIsLoading", true);

      snService.searchPeople("all").then((response) => {
        response.forEach((element) => {
          if (element.systemId == id) {
            this.userInformation = element;
            this.$store.commit("setIsLoading", false);
          }
        });
      });
      //this.userInformation.firstName =
    },
    saveChanges() {
      this.$store.commit("setIsLoading", true);

      snService.searchPeople("all").then((response) => {
        snService
          .editUser(this.searchPosition(response), this.userInformation)
          .then((response) => {
            console.log(this.$store.getters.userInSession);
            console.log(this.userInformation);
            this.$store.commit("setUserInSession", this.userInformation);
            alert("saved Ok");

            this.$store.commit("setIsLoading", false);
          });
      });
    },
    searchPosition(allUsers) {
      var posicion;
      for (let index = 0; index < allUsers.length; index++) {
        if (allUsers[index].systemId == this.userInformation.systemId) {
          posicion = index;
        }
      }
      return posicion;
    },
    cargarImagen(event) {
      this.$store.commit("setIsLoading", true);

      let archivo = event.target.files[0];

      let reader = new FileReader();
      reader.readAsDataURL(archivo);
      reader.onloadend = () => {
        snService.uploadFile(reader.result).then((snapshot) => {
          getDownloadURL(snapshot.ref).then((downloadURL) => {
            this.userInformation.profileImg = downloadURL;
            this.saveChanges();
            console.log("guardado", downloadURL);
            this.$store.commit("setIsLoading", false);
          });
        });

        //this.imagenes.push();
      };
    },
    /* uploadString(storageRef, reader.result, 'data_url').then((snapshot) => {
  console.log('Uploaded a data_url string!');
     //   this.userInformation.profileImg = urlImagen;

}); */
  },
  created() {
    this.loadUser(this.$route.params.id);
  },
  beforeUpdate() {
    snService.getPublications("profile", this.userInformation.systemId);
  },
  beforeRouteUpdate(to, from) {
    //when im calling again this route , and im already here, this can update de data with "to"
    //then i call the service again to refresh the data from the other person.

    this.loadUser(to.params.id);
    snService.getPublications("profile", this.userInformation.systemId);
  },
};
</script>
<style scoped>
#inputFile {
  display: none;
}

.labelInputFile {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: #424548;
  position: absolute;
  padding: 1rem;
  box-shadow: 0 0 10px -1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.labelInputFile img {
  width: 3rem;
  height: 3rem;
}

.labelInputFile:active {
  transform: scale(0.9);
}

.uploadFileBtn {
  position: absolute;
  left: 9em;
  top: 3em;
  z-index: 3;
}
</style>