<template>
  <div class="m-5">
    <div v-if="from != 'home'">
      <h1>
        {{
          $store.getters.userInSession.systemId == idUser
            ? "What are you thinking??"
            : "Leave a message! "
        }}
      </h1>
      <div class="d-flex">
        <!-- new publication -->
        <textarea class="writeMsg" v-model="newPublicationTxt"></textarea>

        <button type="button" @click="newPublication" class="btn btn-dark">
          Post
        </button>

        <!--  -->
      </div>
    </div>

    <div
      class="card mt-5"
      style="border-radius: 1em; background-color: #e9e9e9"
      v-for="(publication, index) in this.$store.getters.publications"
      :key="index"
    >
      <div
        class="card-header d-flex"
        style="background-color: #000; border-radius: 1em"
      >
        <div class="comment-avatar">
          <img
            width="60"
            height="60"
            class="rounded-circle"
            :src="publication.profileImg"
            alt=""
          />
        </div>
        <h4 class="comment-name" style="color: white">
          <a>{{ publication.nombres }}</a>
        </h4>
      </div>
      <div class="card-body container" style="margin: auto">
        <blockquote class="blockquote mb-0">
          <p>{{ publication.post.msg }}</p>
          <footer class="blockquote-footer">
            By <cite title="Source Title">{{ publication.nombres }}</cite>
          </footer>
        </blockquote>
        <!-- <div class="like mt-2">
          <svg
            (click)="likeDislike()"
            *ngIf="isLike"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-heart"
            viewBox="0 0 16 16"
          >
            <path
              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
            />
          </svg>

              <svg (click)="likeDislike()" *ngIf="!isLike" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>

                <label>6</label>
        </div> -->
      </div>

      <br />

      <hr />

      <ul
        id="comments-list"
        class="comments-list"
        v-for="(commentOfPublication, index) in publication.post.comments"
        :key="index"
      >
        <li>
          <div class="comment-main-level">
            <!-- Avatar -->
            <div class="comment-avatar">
              <img :src="commentOfPublication.profileImg" alt="" />
            </div>
            <!-- Contenedor del Comentario -->
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name by-author">
                  <a>{{ commentOfPublication.nombres }}</a>
                </h6>
                <i class="fa fa-reply"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content">
                {{ commentOfPublication.comment }}
              </div>
            </div>
          </div>
          <!-- Respuestas de los comentarios -->
          <ul
            class="comments-list reply-list"
            v-for="(
              commentOfPublication2, index
            ) in commentOfPublication.comments"
            :key="index"
          >
            <li>
              <!-- Avatar -->
              <div class="comment-avatar">
                <img :src="commentOfPublication2.profileImg" alt="" />
              </div>
              <!-- Contenedor del Comentario -->
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name">
                    <a>{{ commentOfPublication2.nombres }}</a>
                  </h6>
                  <i class="fa fa-reply"></i>
                  <i class="fa fa-heart"></i>
                </div>
                <div class="comment-content">
                  {{ commentOfPublication2.comment }}
                </div>
              </div>
            </li>
          </ul>
          <div class="d-flex">
            <!-- new publication -->
            <textarea
              class="writeMsg replyMsg"
              v-model="reply4CommentTxt"
            ></textarea>

            <button
              type="button"
              @click="replyComment(publication, commentOfPublication)"
              class="btn btn-dark"
            >
              Reply
            </button>

            <!--  -->
          </div>
        </li>
      </ul>

      <div class="d-flex">
        <!-- new  -->
        <textarea class="writeMsg" v-model="commentOfPublicationTxt"></textarea>

        <button
          type="button"
          @click="commentPublication(publication)"
          class="btn btn-dark"
        >
          Comment
        </button>

        <!--  -->
      </div>
    </div>
  </div>
</template>
<script>
import snService from "../services/social-network";

export default {
  name: "publicationsComponent",
  props: {
    from: String,
    idUser: String,
  },
  data() {
    return {
      newPublicationTxt: "",
      commentOfPublicationTxt: "",
      reply4CommentTxt: "",
      publication: {},
      publications: [],
    };
  },
  methods: {
    newPublication() {
      this.$store.commit("setIsLoading", true);

      var publication = {};

      //this condition to save the publication for my profile, or to tell something to another person
      if (this.$store.getters.userInSession.systemId == this.idUser) {
        publication.idUser = this.$store.getters.userInSession.systemId;
      } else {
        publication.idUser = this.idUser;
      }
      publication.emailUser = this.$store.getters.userInSession.email;
      publication.nombres =
        this.$store.getters.userInSession.firstName +
        " " +
        this.$store.getters.userInSession.firstLastName;
      publication.profileImg = this.$store.getters.userInSession.profileImg;
      publication.post = { comments: [], msg: this.newPublicationTxt };

      snService.create(JSON.parse(JSON.stringify(publication)));
      this.$store.commit("setIsLoading", false);
    },
    replyComment(publication, commentOfPublication) {
      var myReplyForComment = {};

      myReplyForComment.emailUser = this.$store.getters.userInSession.email;
      myReplyForComment.idUser = this.$store.getters.userInSession.systemId;
      myReplyForComment.nombres =
        this.$store.getters.userInSession.firstName +
        " " +
        this.$store.getters.userInSession.firstLastName;
      myReplyForComment.profileImg =
        this.$store.getters.userInSession.profileImg;
      myReplyForComment.comment = this.reply4CommentTxt;

      commentOfPublication.comments.push(myReplyForComment);

      //updating publication with the comment of it.
      snService
        .update(publication.documentId, JSON.parse(JSON.stringify(publication)))
        .then(() => (this.reply4CommentTxt = ""));
    },
    commentPublication(publication) {
      var publicationAnswer = {};

      publicationAnswer.emailUser = this.$store.getters.userInSession.email;
      publicationAnswer.idUser = this.$store.getters.userInSession.systemId;
      publicationAnswer.nombres =
        this.$store.getters.userInSession.firstName +
        " " +
        this.$store.getters.userInSession.firstLastName;
      publicationAnswer.profileImg =
        this.$store.getters.userInSession.profileImg;
      publicationAnswer.comments = [];
      publicationAnswer.comment = this.commentOfPublicationTxt;

      publication.post.comments.push(publicationAnswer);

      //updating publication with the comment of it.
      snService
        .update(publication.documentId, JSON.parse(JSON.stringify(publication)))
        .then(() => (this.commentOfPublicationTxt = ""));
    },
  },
  mounted() {
    snService.getPublications(this.from, this.idUser);
  },
  beforeRouteUpdate(to, from) {
    //when im calling again , and im already here, this can update de data with "to"
    console.log("update publi");
    this.getDataFromFireStore();
  },
};
</script>
<style scoped>
/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #03658c;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", Arial, Helvetica, Sans-serif, Verdana;
  background: #dee1e3;
}

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
  margin: 60px auto 15px;
  width: 768px;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 32px;
  top: 0;
}

.comments-list:after {
  content: "";
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 27px;
  width: 7px;
  height: 7px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
  display: none;
}

.reply-list li:before {
  content: "";
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}

.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
  display: flex;
}

/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  margin-right: 10px;
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 99;
  float: left;
  border: 3px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.reply-list .comment-avatar {
  width: 50px;
  height: 50px;
}

.comment-main-level {
  display: flex;
}

.comment-main-level:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
  width: 680px;
  float: right;
  position: relative;
  /*    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); */
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
  /*     content: '';
 */
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #fcfcfc;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0, 0, 0, 0.05);
  left: -12px;
}

.reply-list .comment-box {
  width: 610px;
}

.comment-box .comment-head {
  background-color: #e9e9e9;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  width: fit-content;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #a6a6a6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 1px;
}
.comment-content {
  width: fit-content;
  max-width: 28em;
}
.replyMsg {
  width: 50% !important;
}
.comment-box .comment-content {
  background: #fff;
  padding: 12px;
  font-size: 15px;
  border: 3px solid #eae7e7;
  border-radius: 22px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
  color: #03658c;
}

.comment-box .comment-name.by-author:after {
  content: "autor";
  background: #03658c;
  color: #fff;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.d-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
.writeMsg {
  margin-top: 3px;
  width: 100%;
  background: #fff;
  padding: 12px;
  font-size: 15px;
  border: 3px solid #eae7e7;
  border-radius: 22px;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}

.like {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>