<template>
  <navbarComponent
    v-if="$store.getters.userInSession != null"
  ></navbarComponent>
  <router-view />

  <loading
    :active="$store.getters.isLoading"
    :is-full-page="true"
  />
</template>
<script>
import navbarComponent from "@/components/navbar.vue";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  name: "appComponent",
  components: {
    navbarComponent,
    Loading,
  },
  data() {
    return {
    };
  },
};
</script>

<style>
</style>
